<div class="info" id="place-id-<%= object.id %>">
  
  <h3>
    <%= link_to object.name, object %>
    <% unless object.marked_as_visited? :by => current_user then %>
      <%= button_to "标记去过", toggle_visit_place_path(object), :remote => true, class: "btn btn-primary btn-xs" %> 
    <% else %>
      <%= button_to "已去过", toggle_visit_place_path(object), :remote => true, class: "btn btn-success btn-xs" %> 
    <% end -%>
  </h3>
  <img src="<%= object.pic %>" alt="">

</div>