<div class="col-md-12">
  <div class="content-main highlight">

    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
      <li class="active"><a href="#suggestion" data-toggle="tab">推荐关注</a></li>
      <li>
        <a href="#followings" data-toggle="tab">
          <span class="badge pull-right"><%= @followings.count %></span>
          关注
        </a>
      </li>
      <li><a href="#followers" data-toggle="tab"><span class="badge pull-right"><%= @followers.count %></span>粉丝</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="suggestion">
        <%= render partial: "card", collection: @suggestions, as: "user" %>
      </div>

      <div class="tab-pane fade" id="followers">
        <%= render partial: "card", collection: @followers, as: "user" %>
      </div>

      <div class="tab-pane fade" id="followings">
        <%= render partial: "card", collection: @followings, as: "user" %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="content-main highlight">
    <h2>附近的人 <%= button_to_function "获取当前位置", "getLocation()", class: "btn btn-primary btn-xs", disable_with: "正在获取当前位置" %></h2>
    
    <div id="mapholder"></div>
    <script>
      function getLocation()
        {
          if (navigator.geolocation)
          {
            navigator.geolocation.getCurrentPosition(showPosition);
          }
          else
            alert("failed");
        }

      function showPosition(position)
        {
          var latlon=position.coords.latitude+","+position.coords.longitude;

          var img_url="http://maps.googleapis.com/maps/api/staticmap?center="
          +latlon+"&zoom=14&size=400x300&sensor=false";

          document.getElementById("mapholder").innerHTML="<img src='"+img_url+"'>";
        }
    </script>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<script>
  $('#myModal').on('hidden.bs.modal', function (e) {
    // do something...
    // console.log(this);
    $(this).removeData();
  });
</script>