<div class="col-md-8">
  <div class="content-main highlight">

    <div class="row">
      <%= image_tag "/img/p1931122747.jpg", class: "col-md-5" %>

      <div class="col-md-7">
      </div>

    </div>
  </div>

  <div class="content-main highlight">
    <h3>时间线</h3>   
    <%= render_activities(@activities.reverse) %>

  </div>



  <div class="content-main highlight">
    <h3>游记</h3>   
    <%= link_to "新游记", new_user_review_path(current_user) if current_user == @user %>
    <ul>
    <% @user.reviews.each do |review| %>
      <li><%= link_to review.title, review %></li>
    <% end -%>
    </ul>
  </div>

  <div class="content-main highlight">
    <h3>图片</h3>   
    
  </div>

  <div class="content-main highlight">
    <h3>去过的地方</h3>
    <% @user.visited_places.each do |place| %>
      <div class="visted-place" style="float: left; margin-right: 10px;">
        <%= image_tag place.pic, :size => "170x170" %><br />
        <%= link_to place.name, place_path(place), :style => "width: 170px; text-align: center; display: block" %>
      </div>
    <% end -%>

    <div class="clrfix"></div>
  </div>
</div>

<div class="col-md-4">
  <div class="content-main highlight">
    <div class="row">
     <%= image_tag @user.avatar, class: "col-md-5" %>
     <%= @user.try(:name) %> <br /><br />

     <% if @user != current_user then %>
      <%= link_to "写信", new_user_message_path(current_user) + "?to=#{@user.id}" %>
      <% if current_user.following? @user then %>
        <%= link_to "已关注", :action => "unfollow" %>
      <% else %>
        <%= link_to "关注他", :action => "follow" %>
      <% end %>
     <% end %>
    </div>

    <div class="row" id="following_tab">
      <div class="col-md-5">
        <h4>关注(<%= @user.follow_count %>)</h4>
        <% if !@user.following_users.blank? %>
          <ul>
          <% for item in @user.following_users %>
            <li><%= link_to item.email, user_path(item) %></li>
          <% end %>
          </ul>
        <% else %>
        <% end %>
      </div>
    </div>

    <div class="row" id="follower_tab">
      <div class="col-md-5">
        <h4>粉丝(<%= @user.followers_count %>)</h4>
        <% if !@user.followers.blank? %>
          <ul>
          <% for item in @user.followers %>
            <li><%= link_to item.email, user_path(item) %></li>
          <% end %>
          </ul>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="content-main highlight">
    <div class="row">
      <div class="col-md-12">
        <h4>留言板</h4> 
        <%= render_comments @user %>
        <%= render_comments_form @user %>
      </div>
    </div>
  </div>
</div>

