<%= form_for Comment.new, html: {:class => "comment-pub", :remote => false}  do |f| %>
    <div class="photo-wrapper">
      <%= image_tag current_user.avatar, size: "60x60", class: "photo" %>
    </div>


    <div class="reply-input">
      <%= f.text_area :body, id: "reply-text", placeholder: "分享你的看法！", class: "form-control", rows: 3    %>
    </div>
    <%= hidden_field_tag :commentable_id, commentable.id %>
    <%= hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s %>
    <div class="reply-button-wrap"><button id="reply-button" class="btn reply-button btn-red">讨论</button></div>

    <%#= f.submit t('opinio.actions.add') %>
  <% end %>