<div class="col-md-8">
  <div class="content-main highlight">

    <h1><%= @review.title %></h1>
    <em><%= printDate(@review) %></em>

    <div>
      <%= simple_format @review.content %>
    </div>

    <div class="share">
      <span id="like-article"><%= i_like(current_user, @review) %><span id="like-num"><%= n_like(@review) %></span></span>
      <!-- <span id="add-resource"><i class="icon icon-share-local"></i><span id="share-num">0</span></span> -->

      <!-- JiaThis Button BEGIN
      <div class="jiathis_style">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_renren"></a>
        <a class="jiathis_button_kaixin001"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <a class="jiathis_counter_style"></a>
      </div>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1384522448771465" charset="utf-8"></script>
      JiaThis Button END --> 
      <span class="webshare-icon-button"><%= fa_icon "share-square-o" %>
        <ul class="list-unstyled">
          <li>
            <a class="bds_tsina" target="_blank" href=""><i class="icon icon-sina"></i>新浪微博</a>
          </li>
          <li>
            <a class="bds_renren" target="_blank" href=""><i class="icon icon-renren"></i>人人</a>
          </li>
        </ul>
      </span>
    </div>

    <!-- <div class="clrfix"></div>
  </div>

  <div class="content-main highlight"> -->
    <%= render_comments @review %>
    <%= render_comments_form @review %> 
  </div>
</div>

<div class="col-md-4">
  <div class="content-main highlight" style="margin-bottom: 0; height: 211px;">
    <p>
    <%= link_to review_timeline_mode_path(@review), class: "pull-left rotate" do %>
      <%= image_tag "/tardis.png", height: "200" %>
    <% end %>
    </p>
  </div>
  <!-- <div class="clrfix"></div> -->
</div>


<div class="col-md-4">
  <div class="content-main highlight" id="review-author">
    <!-- <div class="row"> -->
      <!-- <div class="col-md-12"> -->
        <p>
          <b>作者:</b>
          <%= render partial: "users/card", locals: { user: @review.user } %>
          <%#= debug @review.user %>
        </p>
      <!-- </div> -->
    <!-- </div> -->
  </div>



  <div class="content-main highlight">
    <p>
      <b>目的地</b>
      <br >
      <%= @review.place.name %>
      <%= image_tag @review.place.pic, style: "width: 100%;" %>
      <%#= debug @review.place %>
    </p>
  </div>



  <div class="content-main highlight">
    <div class="row">
      <div class="col-md-12">
        <p>
          <b>相关游记</b>
          <%#= @review.user.try(:name) %>
        </p>
      </div>
    </div>
  </div>

</div>