<% use_grid ||= false %>
<%= raw '<div class="col-sm-6 col-md-3">' if use_grid %>
<%= link_to place, class: "place-card thumbnail" do %>
    <div class="item-hd">
        <%= image_tag place.pic %>
    </div>
    <div class="item-bt">
        <div class="caption"><%= place.name %></div>
    </div>
<% end -%>
<%= raw '</div>' if use_grid %>